<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>增加名单</h1>
<form method="post">
    <label >教师名：</label>
    <input type="text"name="teachername">
    <label >课程号：</label>
    <input type="text"name="coursename">
    <label >学生姓名：</label>
    <input type="text"name="studentname">
    <label >学生学号：</label>
    <input type="text"name="studentid">
    <label >学生性别：</label>
    <input type="text"name="stugender">
    <label >迟到次数：</label>
    <input type="text"name="latecount">
    <input type="submit"value="提交">
</form>
</body>
</html>